@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --extra-gray: #545454;
  --mobile-padding: 1.25rem;
  --normal-padding: 5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-extra-gray: var(--extra-gray)
  --font-sans: var(--font-montserrat-sans);
  --font-serif: var(--font--playfair-serif);
  --mobile-padding: 1.25rem;
  --normal-padding: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --mobile-padding: 1.25rem;
    --normal-padding: 5rem;
  }
}

html {
  /* scroll-behavior: smooth; */
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  color: #000000;
  /* font-family: Arial, Helvetica, sans-serif; */
  height: auto;
  margin: 0;
}

.hero-bg-black {
  background: #14213D;
  background: linear-gradient(0deg, rgba(20, 33, 61, 1) 0%, rgba(17, 36, 70, 1) 81%, rgba(15, 38, 77, 1) 100%);
}

.hero-bg-pic {
    background-image: url('../public/media/hero/emily-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -50px;
}

.digital-marketing-bg-pic {
    background-image: url('../public/media/digital-marketing/digital-marketing-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blog-writing-bg-pic {
  background-image: url('../public/media/blog-writing/blog-writing-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.video-production-bg-pic {
  background-image: url('../public/media/video-production/video-production-thumbnail.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fashion-design-bg-pic {
  background-image: url('../public/media/fashion-design/fashion-thumbnail.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.photography-bg-pic {
  background-image: url('../public/media/photography/photography-thumbnail.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about-gradient {
  background: #033387;
  background: linear-gradient(270deg, rgba(3, 51, 135, 1) 0%, rgba(41, 35, 192, 1) 55%, rgba(71, 22, 237, 1) 100%);
}

.font-serif {
  font-family: var(--font-playfair-serif);
}

.font-sans {
  font-family: var(--font-montserrat-sans);
}

.text-main {
  color: #010550
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: left auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2s steps(30, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}